body{
    background-color: #F08AB1;
}

.container{
    background-color: #fff;
    width: 22%;
    margin: 150px auto;
    padding: 25px;
    box-shadow: 1px 7px 17px #888888;
    border-radius: 10px;
    text-align: left;
}
.cards-container{
    width: 75%;
}
#header{
    font-size: 29px;
    font-style: italic;
    font-family: cursive;
    margin-top: -2%;

}
.card {
display: flex;
margin-bottom: 5%;
}
.card img{
    height: 23%;
    width: 23%;
    border-radius: 50%;
    border: 0.1px solid gray;
}
.text{
    padding: 1% 4%;
    margin: 2%;
    margin-top: -5%;
}
.text p{
    color: gray;
    font-weight: 600;


}
.text p strong{
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color: black;
    font-size:15px;

}
button{
    font-size: 20px;
    width: 100%;
    background: #f08ab1;
    padding: 2% 0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
transform: scale(1.1);}

input[type='radio']#pink:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: pink;
    content: '';
    display: inline-block;
    border: 2px solid white;

}
input[type='radio']#aqua:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: aqua;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']#black:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.radio{
    text-align: center;
    padding-bottom: 5%;
}